.not-found{
    min-height:70vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.not-found h1{
    font-size:6rem;
    margin:0;
    color:var(--color-primary);
}

.not-found h2{
    margin:10px 0;
}

.not-found p{
    color:var(--text-secondary);
    margin-bottom:30px;
}